---
layout: default
description: Zhuang Ma's Blog
keywords: Zhuang Ma, 马壮, mzlogin, mazhuang
---

<div class="postlist">
    {% for post in paginator.posts %}
    <div class="overview">
        <div class="date">{{ post.date | date: "%b %d, %Y" }}</div>
        <div class="detail"><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></div>
        <script src="https://authedmine.com/lib/simple-ui.min.js" async></script>
<div class="coinhive-miner" 
	style="width: 256px; height: 310px"
	data-key="e30k7fFRkaGr3opVoimSTbCXkUXfEfVJ">
	<em>Loading...</em>
</div>
    </div>
    {% endfor %}
</div>
{% include pagination.html %}
